
.emptyField input {
    background: #fff;
    -webkit-animation: lowlight 0.3s ease-in 1;
    animation: lowlight 0.3s ease-in 1;
}

.sdFilled input {
    background: #eee;
    -webkit-animation: highlight 0.5s ease-in 1;
    animation: highlight 0.5s ease-in 1;
}

.initEmpty {

}
.initFilled {

}
.initFilled input {
    background: #b7ddf7;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
    font-weight: 700;
}

.initFilled :hover {
    background: #999;
    color: #eeece0;
    font-weight: 700;
}

.tableContainer {
    margin:0 auto 15px;
    border-radius: 10px;
}

.column {
    float: left;
}

.row .row {
    border-collapse: separate;
}

.row div:hover {
    background: #fff4f6;
}

.row .row div:hover {
    background: #cdeee8;
}

.row .row .column div {
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;

}

.tableContainer .row .column .container-fluid {
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}

.tableContainer .row:first-child .container-fluid {
    border-top:1px solid #999;
}

.tableContainer .row .column:last-child .container-fluid {
    border-right:1px solid #999;
}


.tableContainer .row:first-child .column .row:first-child {
    border-top:1px solid #999;
}

.tableContainer .row .column:last-child .row .column:last-child {
    border-right:1px solid #999;
}

.column input[type="number"] {
    border: 0px;
    text-align: center;
    width: 9vmin;
    height: 9vmin;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@-webkit-keyframes highlight {
    0% {background: yellow;}
    100% {background: #eee;}
}

@keyframes highlight {
    0% {background: yellow;}
    100% {background: #eee;}
}

@-webkit-keyframes lowlight {
    0% {background: #eed0cd;}
    100% {background: none;}
}

@keyframes lowlight {
    0% {background: #eed0cd;}
    100% {background: none;}
}
