body {
    font-family: 'Roboto';
}

footer {
    margin: 15px 0;
    font: bold 14px Roboto;
}

.sudokuContainer {
    margin: 0 auto;
    padding: 15px 0;
}

.emptyField input {
    background: #fff;
    -webkit-animation: lowlight 0.3s ease-in 1;
    animation: lowlight 0.3s ease-in 1;
}

.sdFilled input {
    background: #eee;
    -webkit-animation: highlight 0.5s ease-in 1;
    animation: highlight 0.5s ease-in 1;
}

.initEmpty {

}
.initFilled {

}
.initFilled input {
    background: #b7ddf7;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
    font-weight: 700;
}

.initFilled :hover {
    background: #999;
    color: #eeece0;
    font-weight: 700;
}

.tableContainer {
    margin:0 auto 15px;
    width: 90vmin;
    height: 90vmin;
}

.sdTable {
    float: left;
}

.sdCell {
    float: left;
}

.sdColumn {
    float: left;
}

.sdRow .sdRow {
    border-collapse: separate;
}

.sdRow div:hover {
    background: #fff4f6;
}

.sdRow .sdRow div:hover {
    background: #cdeee8;
}

.sdRow .sdRow .sdColumn div {
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;

}

.tableContainer .sdRow .sdColumn .sdTable {
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}

.tableContainer .sdRow:first-child .sdTable {
    border-top:1px solid #999;
}

.tableContainer .sdRow .sdColumn:last-child .sdTable {
    border-right:1px solid #999;
}

.tableContainer .sdRow:first-child .sdColumn .sdRow:first-child {
    border-top:1px solid #999;
}

.tableContainer .sdRow .sdColumn:last-child .sdRow .sdColumn:last-child {
    border-right:1px solid #999;
}

.sdColumn input[type="number"] {
    border: 0px;
    box-sizing: border-box;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@-webkit-keyframes highlight {
    0% {background: yellow;}
    100% {background: #eee;}
}

@keyframes highlight {
    0% {background: yellow;}
    100% {background: #eee;}
}

@-webkit-keyframes lowlight {
    0% {background: #eed0cd;}
    100% {background: none;}
}

@keyframes lowlight {
    0% {background: #eed0cd;}
    100% {background: none;}
}
